<html>
    <head><title> Cool Workshop </title></head>
    <body>
        
        <table>
            <tr>
                <td>Begin</td>
                <td>Items</td>
            </tr>
        </table>
        
        <H1> This is our workshop</H1>
        
        <div id="contents">
        <!-- Contents -->
        <p> Moscow time:  {{current_time}} </p>
        
        <p> Welcome !!! </p>
        
        </div>

    </body>
</html>
