    {% extends 'generic.html' %}

    {% block title %} Groups of goods {% endblock %}
    {% block header %} Groups of goods {% endblock %}

    {% block contents %}
    <table border='1'>
        <tr>
            <th>Code</th>
            <th>Name_of_group</th>
            <th>Perishable</th>
        </tr>
        {% for g in all_groups %}
        <tr>
            <td>{{ g.code }}</td>   
            <td>{{ g.title   }}</td>   
            <td>{{ g.soon}}</td>  
        </tr>
        {% endfor %}
    </table>
    {% endblock %}     
   
