    {% extends 'generic.html' %}

    {% block title %} List of goods {% endblock %}
    {% block header %} List of goods {% endblock %}

    {% block contents %}
    <table border='1'>
        <tr>
            <th>Article</th>
            <th>Name_of_goods</th>
            <th>Availability</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        {% for t in all_tovars %}
        <tr>
            <td>{{ t.article }}</td>   <!-- Article-->
            <td>{{ t.title   }}</td>   <!-- Name-->
            <td>{{ t.quantity}}</td>   <!-- Availability-->
            <td>
                {% for tag in t.tags.all|slice:':5' %}
                    {{tag.title}}
                {% endfor%}
            </td>
            <td><a href="{% url 'tovar:show' t.pk %}">Views</a></td>
            <td><a href="{% url 'tovar:edit' t.pk %}">Edit</a></td>
            <td><a href="{% url 'tovar:tags' t.pk %}">Tags</a></td>
            <td><a href="{% url 'tovar:delete' t.pk %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    
    <p><a href="{% url 'tovar:create' %}"> New good </a></p>
    {% endblock %}     
   
