{% extends 'generic.html' %}

{% load static %}    

{% block header %} Tags for {{ tovar.title }} {% endblock %}

{% block contents %}
<ul>
    {% for t in tovar.tags.all %}
    <li>{{t.title}} &mdash; 
        <a href="{% url 'tovar:drop_tag' tovar.pk t.pk %}">
            <img src="{% static 'tovar/delete.png' %}" />
        </a>
    </li>
    {% endfor %}
</ul>
    
<form method="POST">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value= "Add" />
</form>
    
{% endblock %}
