    {% extends 'generic.html' %}

    {% block title %} Good -- {{ tovar.title }} {% endblock %}
    {% block header %} {{ tocar.title }} {% endblock %}

    {% block contents %}
    <table border='1'>
        <tr><td>Name_of_goods</td><td> {{tovar.title}} </td></tr>
        <tr><td>Article</td><td> {{tovar.article}} </td></tr>
        <tr><td>Availability</td><td> {{tovar.quantity}} </td></tr>
        <tr><td>Description</td><td> {{tovar.description}} </td></tr>
        <tr><td>Group</td><td> {{tovar.group.title}} </td></tr>
        <tr><td>Tag</td><td> {{tags}} </td></tr>
        
    </table>
    
    
    <p> Временно </p>
    <ul>
        {% for tag in tovar.tags.all %}
        <li>{{tag.title}}</li>
        {%endfor%}
    </ul>
    {% endblock %}     
   
