    {% extends 'generic.html' %}

    {% block title %} Good -- {{ tovar.title }} {% endblock %}
    {% block header %} {{ tovar.title }} {% endblock %}

    {% block contents %}
    <form method ="POST" action="">{% csrf_token %}
    
        <table border="1">
            <tr>
                <td><label for="title"> Name </label></td>
                <td><input id="title" type="text" name="title" /> </td>
            </tr>
            <tr>
                <td><label for="quantity"> Availably</label></td>
                <td><input id="quantity" type="text" name="quntity" /></td>
            </tr>
        </table>
        
        <input type="submit" />
        <input type="reset" />
        
    </form>
    {% endblock%}
   
