    {% extends 'generic.html' %}

    {% block title %} Good -- {{ tovar.title }} {% endblock %}
    {% block header %} {{ tovar.title }} {% endblock %}

    {% block contents %}
    
    <p>Request by method => {{request.method}}</p>
    <p>Raw data => {{ raw_data }}</p>
    
    
    <form method ="POST" action="">{% csrf_token %}
        <table border="0">
            <tr><td>{{ form.non_field_errors }}</td></tr>
            <tr>
                <td>Name</td>
                <td>{{form.title}}</td>
                <td>{{form.title.errors}}</td>
            </tr>
            <tr>
                <td>Article</td>
                <td>{{form.article}}</td>
                <td>{{form.article.errors}}</td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td>{{form.quantity}}</td>
                <td>{{form.quantity.errors}}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{form.description}}</td>
                <td>{{form.description.errors}}</td>
            </tr>
            
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" />
                    <input type="reset" />
                </td>
            </tr>
        </table>
        
        
        
    </form>
    {% endblock%}
   
