{% load static %}

<html>
    <head>
        <title>{% block title %} Our Workshop {% endblock %} </title>
        <link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}" />
    </head>
    <body bgcolor="#FFDEAD">
    
        <!-- Main menu-->
        <table>
            <tr>
                <td><a href="{% url 'home:index' %}">Home</a></td>
                <td><a href="{% url 'tovar:index' %}">Goods</a></td>
                <td><a href="{% url 'tovar:allgroups' %}">Groups</a></td>
            </tr>
        </table>
        <!-- End of main menu-->
        
        
        <!-- Main title-->
        <H1> {% block header %}This is our Workshop {% endblock %}</H1>
        
        
        <div id="contents">
        <!-- contents-->
        {% block contents %}
        <p>Welcome !!!</p>
        {% endblock %}
        </div>
        
    </body>
</html>
